<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HyperCalc.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <HyperCalc.My.MySettings>
            <setting name="OverallPrecision" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="QuotientPrec" serializeAs="String">
                <value>3333</value>
            </setting>
            <setting name="DivPrec1" serializeAs="String">
                <value>1444</value>
            </setting>
            <setting name="DivPrec2" serializeAs="String">
                <value>44</value>
            </setting>
            <setting name="DisplayDigitsDec" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="ConversionDecPrec" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="ApplyOverallPrec" serializeAs="String">
                <value>True</value>
            </setting>
        </HyperCalc.My.MySettings>
    </userSettings>
</configuration>